/* Primary */
:root {
  --orange: hsl(25, 97%, 53%);
}

/* Neutral */
:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--very-dark-blue);
    height: 100%;
    width: 100%;
    color: white; 
}

.rating-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-card {
    height: 50%;
    width: 80%;
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-radius: 20px;

    padding: 20px;
}

.rating-value-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
