/* Primary */
:root {
  --orange: hsl(25, 97%, 53%);
}

/* Neutral */
:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--very-dark-blue);
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Overpass", sans-serif;
}

.rating-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-card {
    height: 55%;
    width: 80%;
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-radius: 20px;

    padding: 20px;
}

.rating-value-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating-card > p {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-grey);

    margin-top: 0px;
    line-height: 30px;
}

.rating-card > h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.circle {
    color: var(--light-grey);
    height: 45px;
    width: 45px;
    min-height: 45px;
    min-width: 45px;
    background-color: hsl(216, 12%, 54%, 0.2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}

button {
    height: 45px;
    border-radius: 20px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    border: none;

    letter-spacing: 3px;
}

/*


  font-family: "Overpass", sans-serif;
  font-weight: 400, 700;
}
*/